<!--<mat-card>-->
<!--  <mat-card-header>-->
<!--    <mat-card-title>-->
<!--      <span>{{ post.title | titlecase }}</span>-->
<!--    </mat-card-title>-->
<!--    <mat-card-subtitle>-->
<!--      <span>{{ post.createdDate | date }}</span>-->
<!--    </mat-card-subtitle>-->
<!--  </mat-card-header>-->
<!--  <mat-card-content>-->
<!--    <img style="width: 100%" mat-card-image *ngIf="post.imageUrl as imageUrl" [src]="imageUrl" [alt]="post.title">-->
<!--    &lt;!&ndash;    <span class="post-content">{{ post.content }}</span>&ndash;&gt;-->
<!--        <span class="post-content">{{ post.description }}</span>-->
<!--  </mat-card-content>-->
<!--</mat-card>-->

<div class="card mb-3">
  <div class="card-header">
    <img *ngIf="post.imageUrl as imageUrl" [src]="imageUrl" class="profile-image" alt="Profile Image">
    <button class="favorite-button">Add to Favorite</button>
  </div>
  <div class="card-body">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img *ngIf="post.imageUrl as imageUrl" [src]="imageUrl" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ post.title | titlecase }}</h5>
          <p class="card-text"> {{ post.description }}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <div class="button-group">
            <button class="like-button">Like</button>
            <button class="comment-button">Comment</button>
            <button class="share-button">Share</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

