
@use '@angular/material' as mat;
@use "sass:map";

/* Styles to be applied to buttons */
$my-custom-button: mat.define-typography-level(
  $font-family: 'Roboto',
  $font-weight: 500,
  $font-size: 2rem,
  $line-height: 1,
  $letter-spacing: 'normal'
);

/* Styles to be applied to input-fields */
$my-custom-input: mat.define-typography-level(
  $font-family: 'Roboto',
  $font-weight: 400,
  $font-size: 2rem,
  $line-height: 1,
  $letter-spacing: 'normal'
);

/* Merge custom configs into existing config */
$my-typography-config: map.merge(
    mat.define-typography-config(
      /* 'button'-property will work out of the box */
      $button: $my-custom-button
    ),
    (
      /* 'input'-property will have to be assigned under '@mixin typography' further below */
      'input': $my-custom-input
    )
);

/* Apply custom config */
@include mat.all-component-typographies($my-typography-config);

/* Let's assign the custom property 'input' that we defined above */
@mixin typography($theme) {
  $custom-typography-config: mat.get-typography-config($theme);

  .mat-mdc-form-field {
    @include mat.typography-level($custom-typography-config, 'input')
  }
}

/* Define custom app-theme based on custom-configs */
$app-theme: mat.define-light-theme(
    (
      typography: $my-typography-config,
    )
);

/* Apply custom app-theme */
@include typography($app-theme);


//
.form-card {
  display: flex;
  flex-direction: column;
}

mat-card.form-card .form-group {
  width: 100%;
}

.wrapper-new{
  width: 70%;
  margin: 0 auto;
  background-color: #b2aeae;
}

//Top bottom border, if label is inside
::ng-deep.mdc-notched-outline__notch {
  border-top: 2px solid red !important;
  border-bottom: 2px solid red !important;
}

//Top bottom border, if label is notched
::ng-deep.mdc-notched-outline--notched {
  ::ng-deep.mdc-notched-outline__notch {
    border-top: none !important;
    border-bottom: 2px solid red !important;
  }
}
//Left border with edges
::ng-deep.mdc-notched-outline__leading {
  border: 2px solid red !important;
  border-right: none !important;
}
//Right border with edges
::ng-deep.mdc-notched-outline__trailing {
  border: 2px solid red !important;
  border-left: none !important;
}

.mat-form-field-label.mat-primary {
  background-color: #0aa205;
  color: white;
}
.mdc-floating-label {
  color: red;
}
.mat-mdc-form-field, .mat-form-field {
  //height: 40px;
  color: green;
  border: 2px solid green;
  margin-bottom: 20px;
}
.mat-mdc-input-element{
  color: green;
  border: 2px solid green;
  //margin-bottom: 20px;
  height: 40px;

}
