<h1>Bonjour le monde </h1>

<div   style="color: red;margin-top: 20%">
  <ul>
    <li *ngFor="let categoryName of category$ | async">{{ categoryName }}</li>
  </ul>
</div>

<div >
  <form [formGroup]="postForm" enctype="multipart/form-data" class="form-card">
    <mat-form-field appearance="outline">
      <mat-label>Donne un titre a votre article</mat-label>
      <input matInput id="title_" #title type="text" formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Listez un objectif que votre lecteur va atteindre</mat-label>
      <textarea matInput id="description" #description type="text" formControlName="description" rows="4"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>URL de l'image de ta techno</mat-label>
      <input matInput id="imageUrl" #photo type="text" formControlName="imageUrl">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Le nom de la techno</mat-label>
      <input matInput id="location" #location type="text" formControlName="location">
    </mat-form-field>

    <mat-form-field appearance="outline" style="color: red">
      <mat-select #category required>
        <mat-option>-- None --</mat-option>
        <mat-option *ngFor="let categoryName of category$ | async" [value]="categoryName"> {{ categoryName }}</mat-option>
      </mat-select>
      <mat-label><mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i></mat-label>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Uploader une image</mat-label>
      <button mat-icon-button matPrefix (click)="images.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <input type="text" readonly matInput [formControl]="display" />
      <input
        type="file"
        multiple
        hidden
        #images
        (change)="onFileChange($event)"
      />
      <mat-error>this field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Uploader un fichier markdown (exemple.md)</mat-label>
      <button mat-icon-button matPrefix (click)="fichier.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <input type="text" readonly matInput [formControl]="display" />
      <input
        type="file"
        multiple
        hidden
        #fichier
      />
      <mat-error>this field is required</mat-error>
    </mat-form-field>

    <div class="form-group">
      <label for="title">Uploader un fichier markdown (exemple.md)</label>
      <input type="file"  id="title" class="file-input" #fichier (change)="onFileChange($event)">
    </div>
    <div class="action-buttons">
      <button mat-stroked-button color="primary" type="submit" (click)="onSend(title.value,description.value,photo.value,location.value)" [disabled]="postForm.invalid">Enregistrer</button>
    </div>
  </form>
</div>

<mat-card style="color: black" class="face-snap-card" *ngIf="postProview$ | async as faceSnap">
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <p>Mis en ligne {{ faceSnap.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">Evenement se produit à {{ faceSnap.location }}</p>
</mat-card>



