<div class="container" *ngIf="element$ | async as element">

    <nz-page-header nzBackIcon="arrow-left" [nzGhost]="false">
      <nz-page-header-subtitle>
        <nz-tag nzColor="#34cc94" *ngIf="element.verified;else badgeNoVerified">
          <span nz-icon  nzType="safety-certificate" nzTheme="twotone" nzTwotoneColor="#34cc94"></span>
          <span>Garantie par l'agence</span>
        </nz-tag>
      </nz-page-header-subtitle>
      <nz-page-header-extra>
        <nz-space>
          <!--          <button *nzSpaceItem nz-button>Modifier si proprio</button>-->
<!--          <button *nzSpaceItem nz-button nzType="primary" (click)="goBooking(element.id,element.price)">Réserver</button>-->
          <button (click)="goBooking(element.id,element.price)" pButton pRipple label="Réserver" icon="pi pi-check"></button>
        </nz-space>
      </nz-page-header-extra>
    </nz-page-header>

  <nz-list-item-meta [nzAvatar]="this.userAvatar+element.user_avatar" [nzTitle]="nzTitle" [nzDescription]="">
    <ng-template #nzTitle>
      <button  nz-button nz-popover nzPopoverTitle="Explication" [nzPopoverContent]="'Le prix en money Local'" nzPopoverTrigger="hover">
        <ng-template *ngIf="element.desired ==='Location';else noLocation">
          {{ element.price | number:'1.0-0' }} GNF/Jour
        </ng-template>

        <ng-template #noLocation>
          {{ element.price | number:'1.0-0' }} GNF
        </ng-template>
      </button>
    </ng-template>
  </nz-list-item-meta>
  <mat-grid-list cols="2" rowHeight="2:1" *ngIf="images$ | async as images">
    <mat-grid-tile  *ngFor="let img of  images">
      <img nz-image  nzSrc="{{api_url+img.url}}" alt="{{img.alt}}" />
    </mat-grid-tile>
  </mat-grid-list>





  <ng-template #badgeNoVerified>
    <nz-tag nzColor="#94cc14" >
      <span nz-icon  nzType="safety-certificate" nzTheme="twotone" nzTwotoneColor="#FF0000"></span>
      <span>Ce logement est en cours de vérification</span>
    </nz-tag>
  </ng-template>

  <nz-divider></nz-divider>
  <nz-card class="container">
<!--    <div *ngFor="let keyValuePair of element.createdDate | keyvalue">-->
<!--      {{ keyValuePair.key === 'date' ? 'le '+ formatDate(keyValuePair.value.toString())  : keyValuePair.value }}-->
<!--    </div>-->

    <nz-steps [nzCurrent]="10" nzDirection="vertical" nzSize="small">
      <nz-step nzTitle="Type du Logement" nzDescription="{{element.name}}"></nz-step>
      <nz-step nzTitle="Nature du Logement" nzDescription="{{element.desired}}"></nz-step>
      <nz-step nzTitle="Région" nzDescription="{{element.category}}"></nz-step>
      <nz-step nzTitle="Ville" nzDescription="{{element.city}}"></nz-step>
      <nz-step nzTitle="Adresse" nzDescription="{{element.exactLocate}}"></nz-step>
      <nz-step nzTitle="Le Propriétaire" nzDescription="{{element.user}}"></nz-step>
      <ng-template *ngIf="element.desired ==='Location';else vente">
        <nz-step nzTitle="Prix" nzDescription=" {{ element.price | number:'1.0-0' }} GNF/Jour"></nz-step>
      </ng-template>

      <ng-template #vente>
        <nz-step nzTitle="Prix" nzDescription=" {{ element.price | number:'1.0-0' }} GNF"></nz-step>
      </ng-template>

      <nz-step nzTitle="Localisation" nzDescription="{{element.locate}}"></nz-step>
      <nz-step nzTitle="Quartier/District" nzDescription="{{element.exactLocate}}"></nz-step>
      <nz-step nzTitle="Numéro de téléphone" nzDescription="après réservation"></nz-step>
      <nz-step nzTitle="Surface" nzDescription="{{ element.size }} m²"></nz-step>
      <nz-step  nzTitle="Détails" nzDescription="{{ element.content }}"></nz-step>
      <nz-step nzTitle="Description" nzDescription="{{ element.description }}"></nz-step>
    </nz-steps>
  </nz-card>


<!--  // garantie ou pas -->

  <nz-result *ngIf="element.verified;else notVirified"
    nzStatus="success"
    nzTitle="Arrivée garantie par l'Agence, images conformes!"
    nzSubTitle="Nous garantissons que vous arriverez en toute sécurité et que les images du logement correspondent à la réalité."
  >
  <div nz-result-extra>
      <button (click)="goBooking(element.id,element.price)" nz-button nzType="primary">Réserver</button>
      <button nz-button (click)="showModal()">
        <span>Comprendre la Garantie</span>
      </button>
      <nz-modal
        [(nzVisible)]="isVisible"
        nzTitle="Garantie"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()"
        [nzOkLoading]="isOkLoading"
      >
        <p *nzModalContent>
          Une fois que vous aurez réservé votre logement, vous pourrez entrer en contact avec le propriétaire et convenir de votre heure d'arrivée.
          En cas de problème persistant, n'hésitez pas à nous contacter. Dans ce cas, nous vous réserverons une chambre d'hôtel en ville.
        </p>
      </nz-modal>
    </div>
  </nz-result>

  <ng-template #notVirified>
    <nz-result
               nzStatus="warning"
               nzTitle="Veuillez noter que ce logement est actuellement en cours de vérification par notre agence."
               nzSubTitle="Veuillez noter que nous ne pouvons pas garantir votre arrivée en toute sécurité ni que les images du logement correspondent exactement à la réalité."
    >
      <div nz-result-extra>
        <button (click)="goBooking(element.id,element.price)" nz-button nzType="primary">Réserver</button>
        <button nz-button (click)="showModal()">
          <span>Prendre des précautions</span>
        </button>
        <nz-modal
          [(nzVisible)]="isVisible"
          nzTitle="Garantie"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzOkLoading]="isOkLoading"
        >
          <p *nzModalContent>
            Nous vous encourageons à entrer en contact avec le propriétaire avant votre arrivée ou à attendre notre vérification de ce logement pour discuter des détails de votre séjour.
            En cas de problème ou d'annulation imprévue, n'hésitez pas à nous contacter.
            Nous ferons de notre mieux pour vous aider dans ces situations.
          </p>
        </nz-modal>
      </div>
    </nz-result>
  </ng-template>
</div>


<!--  -->


  <!--  old-->

<!--<mat-card >-->
<!--    <mat-card-header>-->
<!--      <div class="card-status">-->
<!--        <button mat-icon-button class="verified">-->
<!--          <mat-icon [ngClass]="element.categorie_id  == 4 ? 'green-icon' : 'red'">{{ element.categorie_id == 5 ? 'done_all' : 'check' }}</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--      <mat-card-title>{{element.name}}</mat-card-title>-->
<!--      <mat-card-subtitle>-->
<!--        <div class="stars">-->
<!--          <mat-icon>star</mat-icon>-->
<!--          <mat-icon>star</mat-icon>-->
<!--          <mat-icon>star</mat-icon>-->
<!--          <mat-icon>star</mat-icon>-->
<!--          <mat-icon>star_half</mat-icon>-->
<!--        </div>-->

<!--      </mat-card-subtitle>-->
<!--    </mat-card-header>-->

<!--    <div class="card-content">-->

<!--      <div class="container-img-maps">-->
<!--        <div class="image-container">-->
<!--          <c-carousel>-->
<!--            <c-carousel-indicators></c-carousel-indicators>-->
<!--            <c-carousel-inner *ngIf="images$ | async as images">-->
<!--              <c-carousel-item *ngFor="let img of  images">-->

<!--                <img-->
<!--                  [src]="api_url+img.url"-->
<!--                  alt="{{ img.alt }}"-->
<!--                  class="d-block w-100"-->
<!--                  loading="lazy" style="height: 100%" />-->

<!--              </c-carousel-item>-->
<!--            </c-carousel-inner>-->
<!--            <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>-->
<!--            <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>-->
<!--          </c-carousel>-->
<!--        </div>-->
<!--        <div class="description">-->
<!--          <p><strong><mat-icon>attach_money</mat-icon> </strong> <span> <b>Prix :</b> {{element.price}} FCFA/mois</span></p>-->
<!--          <p><strong><mat-icon>location_on</mat-icon>  </strong> <span> <b>Localisation :</b>  Conakry, Kipe </span></p>-->
<!--          <p><strong><mat-icon>description</mat-icon> </strong>-->
<!--            <span> <b>Description :</b>-->
<!--              {{element.description}}-->
<!--            </span>-->
<!--          </p>-->
<!--          <mat-card-actions>-->
<!--            <button mat-button (click)="goBooking(element.id,element.price)" color="primary">Réserver</button>-->
<!--          </mat-card-actions>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mat-card>-->
<!--  <mat-card style="width: 100%; border:2px solid red;">-->

<!--      <google-map [center]="markers[0]?.position" >-->
<!--        <map-marker-->
<!--          *ngFor="let marker of markers"-->
<!--          [position]="marker.position"-->
<!--          [label]="marker.label"-->
<!--          [title]="marker.title"-->
<!--          [options]="marker.options"-->
<!--        >-->
<!--        </map-marker>-->
<!--      </google-map>-->
<!--  </mat-card>-->




