<p-messages severity="info">
  <ng-template pTemplate>
    <img src="./assets/img/logo-nimba.png" width="32" />
    <p class="m-lg-1">
      Nous vous remercions de votre confiance... Veuillez noter que les réservations seront disponibles à partir du 01 Janvier 2024.
    </p>
  </ng-template>
</p-messages>

<p-messages *ngIf="erreurBooking.length >0" severity="info">
  <ng-template pTemplate>
    <img src="./assets/img/logo-nimba.png" width="32" />


    <p class="m-lg-1" *ngFor="let e of erreurBooking">
       {{e.msg}} <i class="pi pi-bell mr-4 p-text-secondary" pBadge style="font-size: 2rem" value="{{erreurBooking.length}}"></i>
    </p>
  </ng-template>
</p-messages>


<form [formGroup]="form">

  <mat-form-field>
    <mat-label>Date de début</mat-label>
    <mat-hint>Ex: 20/09/2023</mat-hint>
    <input (dateChange)="onDateChangeBegin($event)" formControlName="beginDate"
           matInput [matDatepicker]="beginDate"
           [matDatepickerFilter]="myHolidayFilter"
    >
    <mat-datepicker-toggle matSuffix [for]="beginDate"></mat-datepicker-toggle>
    <mat-datepicker #beginDate></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date de fin</mat-label>
    <mat-hint>Ex: 20/09/2023</mat-hint>
    <input (dateChange)="onDateChangeEnd($event)" formControlName="endDate" matInput
           [matDatepicker]="endDate"
           [matDatepickerFilter]="myHolidayFilter"
    >
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate></mat-datepicker>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Nombre de personnes</mat-label>
    <input #nbPeople type="number" matInput formControlName="nbPeople">
  </mat-form-field>

<!--  // decomente pour ajouter paypayl-->
<!--  <div id="myPaypalButtons"></div>-->
  <!--  // decomente pour ajouter paypayl-->


  <button  pButton label="Réserver" [disabled]="true" [loading]="loading" class="p-button-success"  type="submit" (click)="onSend(nbPeople.value)"></button>

</form>


<!--<div id="socialshop-page">Veuillez patienter pendant le chargement de votre page Social Shop...</div><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.2.11/iframeResizer.min.js"></script><script type="text/javascript">(function(){ var socialshop=document.createElement("script"); socialshop.type="text/javascript"; socialshop.async=true; socialshop.src="https://ecommerce.paydunya.com/monimbazzJBkL.js"; (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(socialshop);})();</script><noscript>Veuillez activer JavaScript afin d'afficher <a href="https://ecommerce.paydunya.com/monimbazzJBkL">votre page Social Shop.</a></noscript>-->

<!--debut couchdb-->
<!--<form [formGroup]="formCouchdb">-->
<!--  <mat-form-field>-->
<!--    <mat-label>Numero de la salle</mat-label>-->
<!--    <mat-hint>Ex: 001</mat-hint>-->
<!--    <input  #idSalle  formControlName="idSalle" matInput>-->
<!--  </mat-form-field>-->
<!--  <mat-form-field>-->
<!--    <mat-label>Nom de la Salle</mat-label>-->
<!--    <mat-hint>Ex: nom de la salle</mat-hint>-->
<!--    <input  #nameSalle  formControlName="nameSalle" matInput>-->
<!--  </mat-form-field>-->
<!--  <mat-form-field>-->
<!--    <mat-label>Numero etage</mat-label>-->
<!--    <input #idEtage type="number" matInput formControlName="idEtage">-->
<!--  </mat-form-field>-->
<!--  <button  pButton label="ajouter une salle" [disabled]="false" [loading]="loading" class="p-button-success"  type="submit" (click)="onSendCouch(idSalle.value,idEtage.value,nameSalle.value)"></button>-->
<!--</form>-->
