<div  class="containerForme__preview">
  <div class="form-card">

    <mat-card style="margin: 20px;text-align: center">
      <mat-card-title class="mat-headline">Ajout d'un logement</mat-card-title>
    </mat-card>
    <form [formGroup]="elementForm" enctype="multipart/form-data">
      <p>
        <mat-form-field style="width: 100%" appearance="fill">
          <mat-label>Donne un titre a ton logement</mat-label>
          <input formControlName="name"   #name  matInput placeholder="Donne un titre a ton logement">
          <mat-icon matSuffix>title</mat-icon>
          <mat-hint>Titre</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="width: 100%" appearance="fill">
          <mat-label>Donne une description a ton logement</mat-label>
          <input formControlName="description"   #description  matInput placeholder="description du logement">
          <mat-icon matSuffix>description</mat-icon>
          <mat-hint>Titre</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="width: 100%" appearance="fill">
          <mat-label>Dites nous en plus sur le logement</mat-label>
          <input formControlName="content"   #content  matInput placeholder="dite nous plus sur le logement">
          <mat-icon matSuffix>description</mat-icon>
          <mat-hint>Plus de Details</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field style="width: 100%" appearance="fill">
          <mat-label>Precisez ou se trouve votre logement </mat-label>
          <input formControlName="location" #location matInput placeholder="localisation du logement">
          <mat-icon matSuffix>category</mat-icon>
          <mat-hint>Localisation</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field style="width: 100%" appearance="fill">
          <mat-label>Donnez la surface de votre logement </mat-label>
          <input formControlName="sizee" #sizee matInput placeholder="Surface du logement">
          <mat-icon matSuffix>category</mat-icon>
          <mat-hint>Surface du logement</mat-hint>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field style="width: 100%" appearance="fill">
          <mat-label>Donner un prix mensuel a votre logement  </mat-label>
          <input formControlName="price"  #price matInput placeholder="Donner un prix mensuel ">
          <mat-icon matSuffix>Prix</mat-icon>
          <mat-hint>Prix par jour</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="width: 100%" appearance="fill">
          <mat-label>choisir le type de lit</mat-label>
          <mat-select formControlName="item">
            <mat-option  *ngFor="let item of items$|async" value="{{item.id}}">{{item.type}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="width: 100%" appearance="fill">
            <mat-label>choisir une region geographique</mat-label>
          <mat-select formControlName="category">
            <mat-option   *ngFor="let category of category$|async" value="{{category.id}}">{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>


      <div class="upload-wrapper">
        <label for="file-input" class="file-label">
          <mat-icon class="upload-icon">cloud_upload</mat-icon>
          <span class="upload-text">Choisir 4 images pour le logement</span>
        </label>
        <input id="file-input" type="file" class="file-input" multiple accept="image/*" #fichier (change)="onFileChangeImage($event)">

        <span class="file-name" *ngIf="fichier.files?.length">{{ imageSrc.name }}</span>
      </div>
      <button mat-raised-button color="primary"
              (click)="onSend(name.value,content.value,description.value,location.value,price.value,sizee.value)"
      >
        Publier
      </button>


    </form>
  </div>






<!--  <div *ngIf="elementProview$ | async as state-list">-->
  <div class="face-snap-cardnap-card" *ngIf="elementProview$ | async as element">
    <mat-card style="margin: 20px;text-align: center">
      <mat-card-title class="mat-headline">Visualisation sans images</mat-card-title>
    </mat-card>
    <h3>Titre:{{ element.name | uppercase }}</h3>
    <p>Mis en ligne {{ element.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>

    <img src="https://placehold.co/600x400" [alt]="element.name">
    <p>Description: {{ element.description }}</p>
<!--    <p>Localisation: {{ element.locate }}</p>-->
    <p>Details: {{ element.content }}</p>
    <p>Prix: {{ element.price }}</p>
  </div>
</div>


