<div  class="containerForme__preview">


  <div class="form-card">
    <p-messages severity="info">
      <ng-template pTemplate>
        <i class="pi  pi-verified" style="font-size: 2rem;color:green;margin-right:5px"></i>
        <div class="ml-2"> Ajouter un logement</div>
      </ng-template>
    </p-messages>
    <form [formGroup]="elementForm" enctype="multipart/form-data">

      <p-fieldset >
        <ng-template pTemplate="header">
          <div class="flex align-items-center text-primary">
            <span class="font-bold text-lg">Choisissez votre type de Logement</span>
          </div>
        </ng-template>
        <p>
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>choisir le type du logement</mat-label>
            <mat-select #name formControlName="name">
              <mat-option   *ngFor="let elementType of elementType$|async" value="{{elementType.name}}">{{elementType.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Vous voulez vendre ou Louer ?</mat-label>
            <mat-select #desired formControlName="desired">
              <mat-option    *ngFor="let wanted of desiredChoice" value="{{wanted.name}}">{{wanted.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </p-fieldset>

      <p-fieldset>
        <ng-template pTemplate="header">
          <div class="flex align-items-center text-primary">
            <span class="font-bold text-lg">Décrivez votre Logement</span>
          </div>
        </ng-template>
        <p>
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>{{this.priceLabel}}  </mat-label>
            <input class="large-100" formControlName="price"  #price matInput placeholder="{{this.priceLabel}} ">
            <mat-hint>{{this.priceLabel}}</mat-hint>
          </mat-form-field>
        </p>
<!--        <p>-->
<!--          <mat-form-field style="width: 100%" appearance="outline">-->
<!--            <mat-label>Description  du logement</mat-label>-->
<!--            <input class="hide-outline-color" formControlName="description"   #description  matInput placeholder="Description du logement">-->
<!--            <mat-hint>Description</mat-hint>-->
<!--          </mat-form-field>-->
<!--        </p>-->
        <p>
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Description  du logement</mat-label>
            <textarea  matInput class="large-100 hide-outline-color" formControlName="description"   #description  placeholder="Description du logement"></textarea>
          </mat-form-field>
        </p>


<!--        <p>-->
<!--          <mat-form-field style="width: 100%" appearance="outline" class="custom-outline">-->
<!--            <mat-label>Dites nous en plus sur le logement</mat-label>-->
<!--            <input class="hide-outline-color" formControlName="content"   #content  matInput placeholder="exemple: parking, piscine ...">-->
<!--            <mat-hint>Plus de Details</mat-hint>-->
<!--          </mat-form-field>-->
<!--        </p>-->
        <p>
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Dites nous en plus sur le logement</mat-label>
            <textarea   class="large-100 hide-outline-color" formControlName="content"   #content  matInput placeholder="exemple: parking, piscine ..."></textarea>
            <mat-hint>Plus de Details</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Précisez l'adresse de votre logement</mat-label>
            <input class="large-100" formControlName="location" #location matInput placeholder="Ex:A 10 minute du stade...">
            <mat-hint>Localisation</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Surface </mat-label>
            <input  class="large-100" formControlName="sizee" #sizee matInput placeholder="Ex: 40" >
            <mat-hint>Surface du logement</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>choisir le type de lit</mat-label>
            <mat-select formControlName="item">
              <mat-option  *ngFor="let item of items$|async" value="{{item.id}}">{{item.type}}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </p-fieldset>
      <p-fieldset *ngIf=" specVille$  | async as regions">
        <ng-template pTemplate="header">
          <div class="flex align-items-center text-primary">
            <span class="font-bold text-lg">Localisation de votre Logement</span>
          </div>
        </ng-template>
        <p >
          <mat-form-field  style="width: 100%" appearance="outline">
            <mat-label>Choisir une région</mat-label>
            <mat-select formControlName="region">
              <mat-option *ngFor="let region of regions" [value]="region.region.id">
                {{ region.region.nomRegion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field style="width: 100%" appearance="outline"  *ngIf="cities$ | async as ci" >
            <mat-label>Choisir une ville</mat-label>
            <mat-select formControlName="city">
              <mat-option  *ngFor="let city of ci" [value]="[city.id,city.nomVille]">
                {{ city.nomVille }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline"  *ngIf="subPref$  | async as sp">
            <mat-label>Choisir une localité</mat-label>
            <mat-select  placeholder="localité" formControlName="exactLocate">
              <mat-option  *ngFor="let subPre of sp" [value]="subPre.nomSousPrecture">
                {{ subPre.nomSousPrecture }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </p-fieldset>
      <div class="upload-wrapper"  >
        <label for="file-input" class="file-label">
          <i class="pi pi-paperclip" style="font-size: 2rem;color:green;"></i>
          <span class="upload-text">Choisir 4 images pour le logement</span>
        </label>
        <input required id="file-input" type="file" class="file-input" multiple accept="image/*"  formControlName="fichier" #fichier (change)="onFileChangeImage($event)">

        <span class="file-name" *ngIf="imagesSrc.length > 0">
            <nz-progress [nzPercent]="imagesSrc.length" nzType="circle" [nzFormat]="formatPhotos"></nz-progress>
          </span>

      </div>



<!--      <button mat-raised-button color="primary"-->
<!--              (click)="onSend(content.value,description.value,location.value,price.value,sizee.value)"-->
<!--      >-->
<!--        Publier-->
<!--      </button>-->

      <p-toast></p-toast>
      <p-confirmPopup></p-confirmPopup>
      <div class="span-bouton-send">
            <p-button type="submit" class="custom-button-width"  (click)="onSend($event,content.value,description.value,location.value,price.value,sizee.value)" icon="pi pi-check" label="Publier"></p-button>
      </div>


<!--      //-->
<!--      <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" [nzTransformFile]="transformFile">-->
<!--          <span nz-icon nzType="upload"></span>-->
<!--          <input nz-button id="file-input_" type="file" class="file-input" multiple accept="image/*" #fichier (change)="onFileChangeImage($event)">-->
<!--      </nz-upload>-->

    </form>
  </div>
<!--  <div *ngFor="let img of imagesSrc ">-->
<!--      {{img[0].name}}-->
<!--  </div>-->




<!--  decomente pour voir la preview-->
<!--  <div class="face-snap-cardnap-card" *ngIf="elementProview$ | async as element">-->
<!--    <mat-card style="margin: 20px;text-align: center">-->
<!--      <mat-card-title class="mat-headline">Visualisation sans images</mat-card-title>-->
<!--    </mat-card>-->
<!--    <h3>Titre:{{ element.name | uppercase }}</h3>-->
<!--    <p>Mis en ligne {{ element.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>-->

<!--    <img src="https://placehold.co/600x400" [alt]="element.name">-->
<!--    <p>Description: {{ element.description }}</p>-->
<!--    <p>Details: {{ element.content }}</p>-->
<!--    <p>Prix: {{ element.price }}</p>-->
<!--  </div>-->


</div>


