<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Appartement de luxe</mat-card-title>
      <mat-card-subtitle>5 étoiles</mat-card-subtitle>
    </mat-card-header>
    <div class="card-content">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <img mat-card-image src="https://via.assets.so/shoe.png?id=1&q=95&w=360&h=360&fit=fill">
        </mat-grid-tile>
        <mat-grid-tile>
          localisation
        </mat-grid-tile>
      </mat-grid-list>
      <div class="description">
        <p><strong>Prix :</strong> 200 000 FCFA/mois</p>
        <p><strong>Localisation :</strong> Conakry, Kipe</p>
        <p><strong>Description :</strong> Superbe appartement de luxe avec vue sur la ville, 3 chambres, 2 salles de bain, cuisine équipée, salon spacieux, parking sécurisé.</p>
      </div>
    </div>
    <mat-card-actions>
      <button mat-raised-button color="primary">Réserver</button>
    </mat-card-actions>
  </mat-card>

</div>
