@charset "UTF-8";
.card {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  /* Largeur maximale de la carte */
  margin: 0 auto;
  /* Centrer la carte horizontalement */
}

.submit-button {
  background-color: #1890ff;
  /* Couleur de fond du bouton */
  color: #fff;
  /* Couleur du texte du bouton */
  border: none;
  /* Supprime la bordure du bouton */
  border-radius: 4px;
  /* Coins arrondis */
  padding: 10px 20px;
  /* Espacement intérieur du bouton */
  cursor: pointer;
  /* Curseur de type pointeur au survol */
  font-size: 16px;
  /* Taille de la police du bouton */
}

.submit-button:hover {
  background-color: #096dd9;
  /* Couleur de fond au survol */
}

@media screen and (max-width: 768px) {
  /* Sur les appareils mobiles, un champ par ligne */
  .card {
    max-width: none;
    flex-direction: column;
  }

  .card .nz-form-item {
    margin-bottom: 12px;
  }
}
mat-nav-list a {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

mat-card {
  margin-bottom: 20px;
}

mat-card-subtitle {
  display: flex;
}
mat-card-subtitle .card-type {
  font-size: 19px;
  margin-right: 20px;
}
mat-card-subtitle .stars {
  color: #ffd700;
  font-size: 24px;
  float: right;
}

.green-icon {
  color: green;
}

.map-tile {
  width: 55%;
  background-color: red;
}
.map-tile google-map {
  height: 50px !important;
  width: 100%;
}

c-carousel-item {
  height: 226px;
}

at-card-header {
  position: relative;
}

.card-status {
  position: absolute;
  right: 10px;
  top: 2px;
  color: blue;
}

.description p {
  display: flex;
}
.description span {
  margin-left: 10px;
}
.description b {
  font-size: 15px;
  text-transform: uppercase;
}

.container-img-maps {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .container-img-maps {
    flex-direction: column;
  }
}

.image-container {
  background-color: darkblue;
  width: 40%;
  margin-right: 5%;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
@media only screen and (max-width: 600px) {
  .image-container {
    width: 100%;
    margin-bottom: 5%;
  }
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.map-container {
  background-color: #237c3f;
}
.map-container google-map {
  height: 100%;
}

.mat-card {
  background-color: #da4a4a;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.mat-card .card-content .description p {
  margin: 0;
  padding: 8px 0;
}
.mat-card .card-content .description strong {
  font-weight: bold;
}
.mat-card .img-info {
  background-color: red;
  display: flex;
  color: red;
}
.mat-card .mat-card-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

/* styles.css (ou votre fichier de styles personnalisé) */
.custom-input .mat-form-field-wrapper {
  font-size: 14px;
  /* Ajustez la taille de la police selon vos préférences */
  line-height: 1.5;
  /* Ajustez la hauteur de ligne selon vos préférences */
  padding: 8px 12px;
  /* Ajustez le rembourrage selon vos préférences */
}

/*# sourceMappingURL=state-list.component.css.map */
