<H2> Posts</H2>
<!--<mat-grid-list cols="2" rowHeight="2:1">-->
<!--  <app-post-list-item *ngFor="let post of posts$ | async" [post]="post"></app-post-list-item>-->
<!--</mat-grid-list>-->

<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-3 col-sm-12" *ngFor="let post of posts$ | async">-->
<!--      <app-post-list-item   [post]="post"></app-post-list-item>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<section class="card-container">
  <app-post-list-item *ngFor="let post of posts$ | async"  [post]="post" class="card"></app-post-list-item>
</section>
