<!--<div class="container">-->
<!--  <div class="city-cards">-->
<!--    <div class="city-card">-->
<!--      <a href=""  routerLink="element/thiselement" class="card-link">-->
<!--        <img src="./assets/img/chambre.jpeg" alt="Conakry">-->
<!--        <div class="titre-icon-region">-->
<!--          <p>-->
<!--            <mat-icon>hotel_rooms</mat-icon> <span class="name">Ajouter une Chambre</span>-->
<!--          </p>-->
<!--        </div>-->
<!--      </a>-->
<!--      <button class="button-add" mat-raised-button color="accent">+ chambre </button>-->
<!--    </div>-->


<!--    <div class="city-card">-->
<!--      <a href=""  class="card-link">-->
<!--        <img src="./assets/img/apartement.jpeg" alt="Conakry">-->
<!--        <div class="titre-icon-region">-->
<!--          <p>-->
<!--            <mat-icon>apartment</mat-icon> <span class="name">Ajouter un Appartement</span>-->
<!--          </p>-->
<!--        </div>-->
<!--      </a>-->
<!--      <button  class="button-add" mat-raised-button color="accent">+ Appartement </button>-->
<!--    </div>-->

<!--    <div class="city-card">-->
<!--      <a href=""  class="card-link">-->
<!--        <img src="./assets/img/maison.jpeg" alt="Conakry">-->
<!--        <div class="titre-icon-region">-->
<!--          <p>-->
<!--            <mat-icon>location_city</mat-icon> <span class="name">Ajouter une Maison</span>-->
<!--          </p>-->
<!--        </div>-->
<!--      </a>-->
<!--      <button class="button-add" mat-raised-button color="accent">+ Maison</button>-->
<!--    </div>-->

<!--&lt;!&ndash;    <div class="city-card">&ndash;&gt;-->
<!--&lt;!&ndash;      <a href="" class="card-link">&ndash;&gt;-->
<!--&lt;!&ndash;        <img src="./assets/img/hotel.jpeg" alt="Conakry">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="titre-icon-region">&ndash;&gt;-->
<!--&lt;!&ndash;          <p>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-icon>location_city</mat-icon> <span class="name">Ajouter un Hotel</span>&ndash;&gt;-->
<!--&lt;!&ndash;          </p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </a>&ndash;&gt;-->
<!--&lt;!&ndash;      <button class="button-add" mat-raised-button color="accent">A Voir </button>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->

<!--begin form-->

<app-form></app-form>





