
<div class="laCard">
  <nz-ribbon nzColor="{{this.badgeInfo.color}}" style="width:300px;" nzText="{{this.badgeInfo.badge}}">
    <nz-card (click)="onViewElement()"  nzTitle="{{element.name}}" nzSize="small">
      <nz-badge nzStatus="success" nzText="{{element.locate}}"></nz-badge>
      <br/>
      <nz-badge nzStatus="warning" nzText="{{element.price}} GNF / Mois"></nz-badge>
    </nz-card>
  </nz-ribbon>

  <nz-card  style="width:300px;" [nzCover]="carouselTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
      <nz-card-meta
        nzTitle="Surface : {{element.size}} m²"
        nzDescription="{{element.description}} "
        [nzAvatar]="avatarTemplate"
      ></nz-card-meta>
    </nz-card>
  <ng-template #avatarTemplate>
   <span *ngIf="!element.verified">
      <span nz-icon  [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#fa541c'"></span>
  </span>
    <span *ngIf="element.verified">
      <span nz-icon   [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#00FF00'"></span>
  </span>
  </ng-template>
  <ng-template #carouselTemplate >
    <nz-carousel   [nzEffect]="'strategy'" nzAutoPlay  style="height: 300px" >
      <div nz-carousel-content *ngFor="let image of images">
        <img (click)="onViewElement()" alt="{{image.alt}}" [src]="api_url+image.url" class="d-block w-100"  style="width: 100%;height: 300px ;object-fit: cover"/>
      </div>
    </nz-carousel>
  </ng-template>

  <ng-template #actionSetting>
<!--    <span nz-icon [nzType]="'credit-card'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></span>-->
    <span nz-icon nzType="dollar-circle"  (click)="goBooking(element.id,element.price)" nzTheme="twotone" [nzTwotoneColor]="'#ee0518'" ></span>
  </ng-template>
  <ng-template #actionEdit>
    <span nz-icon [nzType]="'eye'" (click)="onViewElement()" [nzTheme]="'twotone'" [nzTwotoneColor]="'#c7be0a'"></span>
  </ng-template>
  <ng-template #actionEllipsis>
        <span (click)="showModal(element.user_id)" nz-icon nzType="message"   nzTheme="twotone" [nzTwotoneColor]="'#06e006'"></span>
  </ng-template>

</div>



<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Envoyer un message au propriétaire!"
  (nzOnCancel)="handleCancel()"
  [nzOkLoading]="isOkLoading"
  [nzFooter]="footerTp"
>
  <p *nzModalContent>
    <app-send-form [receiverId]="Number(this.receiverAdminId)" ></app-send-form>
  </p>
</nz-modal>
<ng-template #footerTp>
  <button nz-button style="margin-right: 8px;" (click)="handleCancel()">Fermer</button>
</ng-template>
