<div>
  <mat-card>
    <mat-card-header>
      <div class="card-status">
        <button mat-icon-button class="verified">

<!--          <mat-icon [ngClass]="element.categorie_id  === 4 ? 'green-icon' : 'red'">{{ element.categorie_id == 5 ? 'done_all' : 'check' }}</mat-icon>-->
        </button>
      </div>
      <mat-card-subtitle>
        <div class="card-type">{{element.name}}</div>
        <div class="stars">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star_half</mat-icon>
        </div>
      </mat-card-subtitle>

    </mat-card-header>

    <div class="card-content">

      <div class="container-img-maps">
        <div class="image-container">
          <c-carousel>
            <c-carousel-indicators></c-carousel-indicators>
            <c-carousel-inner>
              <c-carousel-item *ngFor="let image of images">
                <img
                  [src]="api_url+image.url"
                  alt="{{ element.name }}"
                  class="d-block w-100"
                  loading="lazy" style="height: 100%" />
              </c-carousel-item>
            </c-carousel-inner>
            <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
            <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
          </c-carousel>
        </div>
        <div class="description">
          <p><strong><mat-icon>attach_money</mat-icon> </strong> <span> <b>Loyer :</b> {{element.price}} FCFA/mois</span></p>
          <p><strong><mat-icon>location_on</mat-icon>  </strong> <span> <b>Localisation :</b>  {{element.locate}} </span></p>
          <p><strong><mat-icon>square</mat-icon>  </strong> <span> <b>Surface :</b>  {{element.size}} m2  </span></p>
          <p><strong><mat-icon>description</mat-icon> </strong>
            <span> <b>Description :</b>
              {{element.description}}
            </span>
          </p>
          <mat-card-actions>
            <button mat-button color="primary" (click)="onViewElement()">Voir plus</button>
          </mat-card-actions>
        </div>
      </div>
    </div>
  </mat-card>
</div>
