
    <footer>
      <div class="apropos leDiv">
        <h4>A propos</h4>
        <p><a [routerLink]="['spec/about', 'Articles']">Logements</a></p>
        <p><a [routerLink]="['spec/about', 'Fonctionnement-du-site']">Fonctionnement du site</a></p>
        <p><a [routerLink]="['spec/about', 'Donnees-et-confidentialite']">Données et confidentialité</a></p>

      </div>
      <div class="hebergement leDiv">
        <h4>Nos Logements</h4>
        <p><a [routerLink]="['spec/about', 'Charte-qualite']">Charte qualité</a></p>


        <p><a routerLink="elements/add">Soumettre un Logement </a> </p>
      </div>
      <div class="assistance leDiv">
        <h4>Assistance</h4>
        <p><a (click)="onSendMail('Dites-nous comment nous pouvons vous aider.')"  target="_blank">Email</a> </p>
        <p>Koloma II ,Commune de Ratoma , Connackry - Guinée </p>
      </div>
    </footer>

