<mat-toolbar class="toolbar">
  <span routerLink="/blog" class="left-content">
    <a routerLink="/blog">Pabiosoft</a>
  </span>
  <span class="example-spacer"></span>

  <div class="right-content">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>
