<mat-toolbar class="toolbar">
  <div class="left-content">
    <a routerLink="/" class="logo-link">
<!--      <img src="monimba-logo.png" alt="Logo de Monimba">-->
      Nimba
    </a>

    <a routerLink="/accueil" class="nav-link">
      <mat-icon>home</mat-icon>
      Accueil
    </a>

    <a routerLink="/hebergement" class="nav-link">
      <mat-icon>hotel</mat-icon>
      Hébergement
    </a>

    <a routerLink="/reservation" class="nav-link">
      <mat-icon>event_seat</mat-icon>
      Réservation
    </a>

    <a routerLink="/elements/add" class="nav-link">
      <mat-icon>add_location</mat-icon>
      Publier un établissement
    </a>
  </div>

  <span class="example-spacer"></span>

  <div class="right-content">
    <a routerLink="/recherche" class="nav-link">
      <mat-icon>search</mat-icon>
      Recherche
    </a>



    <a routerLink="/connexion" class="nav-link">
      <mat-icon>account_circle</mat-icon>
      Connexion
    </a>
  </div>
</mat-toolbar>
