$toolbar-height: 64px; // Hauteur de la barre d'outils
$color-link: black;
$color-header: #FF9F57;

.mobile-icon-displaying{
  display:none;
}
.fixed-search-bar {
  background-color:$color-header;
  position: relative;
}
//
@keyframes colorAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



//
//$color-header: #FF9F57;

.header-container-bg {
  background-color: $color-header;
  //perspective: 1000px; /* Ajustez la valeur en fonction de l'effet souhaité */
  //background: linear-gradient(45deg, $color-header, $color-header); /* Choisissez les couleurs souhaitées */
  //transform-style: preserve-3d;

}
// nouveau try designe header samedi
.phone-icon {
  font-size: 24px; /* Taille de l'icône (ajustez selon vos besoins) */
  //color: white; /* Couleur de l'icône (blanc pour le contraste avec le fond) */
  //background-color: $color-header; /* Couleur de fond du cercle */
  border-radius: 50%; /* Appliquer la forme de cercle */
  width: 36px; /* Largeur et hauteur du cercle (ajustez selon vos besoins) */
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.injection-drawer__shearch{
  width:50%;
}
.custom-modal .ant-modal {
  max-width: 800px; /* Définissez la largeur maximale du modal ici */
  width: 80%; /* Ou utilisez un pourcentage de la largeur de l'écran si vous le souhaitez */
}

.icon-et__label {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.le__icon {
  font-size: 24px;
  color: #52c41a;
}

.label__icon {
  margin-top: -15px; /* Ajustez la valeur selon vos préférences */
}


.logo {
  display: flex;
  flex-direction: column; /* Place les éléments enfants en colonnes */
  align-items: center; /* Centre les éléments horizontalement */
  text-align: center; /* Centre le texte à l'intérieur du conteneur */
  margin-left: 20px;
}

.logo .image img {
  max-width: 30px;
  height: auto;
  display: block; /* Empêche le décalage vertical */
  //margin-bottom: 10px; /* Espace en bas de l'image (ajustez selon vos préférences) */
}

.logo .text__logo {
  font-size: 20px; /* Ajustez la taille du texte selon vos préférences */
  font-weight: bold; /* Optionnel : ajoute du gras au texte */
  color: rgb(255, 255, 255); /* Couleur du texte */
  margin-top: -15px;

}

.le_drawer{ // [nzWidth]="640"
  width:640px;
}
.la_nav{
  display:flex;
  justify-content:space-between;
  margin-right: 10px;
  li{
  list-style-type: none;
    margin-left: 20px;
    a{
      text-decoration:none;
    }
  }
}
header{
  display:block;
}

@media (min-width: 768px) {

  .le_drawer{ // [nzWidth]="640"
    width:70%
  }
}

@media (max-width: 768px) { // mobile

  .fixed-search-bar {
    background-color:$color-header;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 9999;
  }

  .mobile-displaying{
    margin-top:-35px;
  }
  ul{
    width:100%;
  }
  .la_nav{
    width:100%;
      //background-color:red;
    margin:0;
    padding-left:-10px !important;
    margin-top:10px !important;
    margin-bottom:20px !important;
    justify-content:initial;
  }
  .mobile-icon-displaying{
    display: initial;
    margin-top:3px;
    margin-left:-2px !important;
    margin-right:50px !important;
  }
  .logo{
    display:none;
  }
  .le_drawer{ // [nzWidth]="640"
    width:70%
  }

  .la_nav{
    justify-content:space-around;
    width: 100%;
    padding:0;

    li{
      list-style-type: none;
      margin-left: 2px;
      a{
        text-decoration:none;
      }
    }
  }

}







