<div *ngIf="user$ | async as user">

<span *ngIf="isDeleteButtonDisabled">
   <nz-alert nzType="success" nzMessage="Success Tips" nzShowIcon></nz-alert>
</span>
<nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
  <ng-template #item let-item>
    <nz-list-item [nzActions]="[viewAction]" style="padding-left:2%; padding-right:2%">
      <ng-template #viewAction>
        <a (click)="open()">
          <i class="pi   pi-cog" style="font-size: 2rem"></i>
        </a>
      </ng-template>
      <nz-list-item-meta
        [nzTitle]="nzTitle"
        (click)="open()"
        nzAvatar="{{avatar+user.imgUrl}}"
        nzDescription="{{user.telephone}}"

      >
        <ng-template #nzTitle>
          <a (click)="open()">{{ user.fullName }}</a>
        </ng-template>
      </nz-list-item-meta>
    </nz-list-item>
  </ng-template>
</nz-list>


<nz-drawer   [nzVisible]="visible"   [nzClosable]="false" (nzOnClose)="close()" [nzPlacement]="'left'">
  <ng-container *nzDrawerContent>
    <p class="title" style=" margin-bottom: 24px;">Profil utilisateur</p>
    <nz-descriptions [nzColumn]="2" nzTitle="Informations">
      <nz-descriptions-item   nzTitle="Nom complet" [nzSpan]="1">{{user.fullName}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="badge" [nzSpan]="1">{{user.badge}} </nz-descriptions-item>
    </nz-descriptions>

    <nz-divider></nz-divider>
    <nz-descriptions [nzColumn]="2" nzTitle="Badges"></nz-descriptions>

    <nz-ribbon *ngIf="user.badge !== nimbaBadge; else garantieTemplate" nzText="Sans garantie">
      <nz-card nzTitle="Votre Badge {{user.badge}}" nzSize="small"> Vous permet de publier sans Garantie <nz-badge nzStatus="error"></nz-badge> </nz-card>
    </nz-ribbon>
    <br />
    <ng-template #garantieTemplate>
      <nz-ribbon nzText="Garantie par l'agence" nzColor="green">
        <nz-card nzTitle="Votre Badge {{user.badge}}" nzSize="small">Vos publications seront certifiées.
          <nz-badge nzStatus="processing"></nz-badge>
          <nz-badge nzStatus="processing"></nz-badge>
          <nz-badge nzStatus="processing"></nz-badge>
        </nz-card>
      </nz-ribbon>
    </ng-template>
    <nz-divider></nz-divider>
    <nz-result *ngIf="user.badge !== nimbaBadge; else statusTemplate " nzStatus="500" nzTitle="Vérification" nzSubTitle="Nous pouvons garantir la conformité de vos logements">
      <div nz-result-extra>
        <button (click)="sendEmail()" nz-button nzType="primary">J'envois ma pièce d'identité</button>
      </div>
    </nz-result>
    <ng-template #statusTemplate>
      <nz-result  nzStatus="success" nzTitle="Certifié" nzSubTitle="Vous êtes déjà certifié.">
        <div nz-result-extra>
          Publier sans limite et avec le badge Nimba.
        </div>
      </nz-result>
    </ng-template>
  </ng-container>
</nz-drawer>
<!--debut booking list-->
<nz-divider></nz-divider>

<!--  //-->

  <div *ngIf="bookings$ | async as bookings"  class="container">
    <h2 style="text-align: center">Mes Réservations</h2>
    <div  *ngIf="bookings && bookings.length > 0; else elseBlock" class="row flex-wrap"  >
      <div  *ngFor="let booking of bookings; let i = index" class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <p-card header="{{booking.element[0].city}}" subheader="{{booking.element[0].exactLocate}}" [style]="{ width: '360px' }">
          <p-tag severity="success" value="En {{booking.element[0].desired}}"></p-tag>
          <p-tag class="float-end"  severity="success" value="{{booking.element[0].price}} GNF"></p-tag>
          <ng-template pTemplate="header">
            <p-tag icon="pi pi-user" value="Réservation N°{{i + 1}}"></p-tag>
            <p-tag severity="success" class="float-end"  value=" {{booking.element[0].name}}"></p-tag>
            <p-message severity="success" text=" Au {{formatBookingDate(booking.endDate)}}"></p-message>
            <p-message severity="warn" text=" Au {{formatBookingDate(booking.beginDate)}}"></p-message>
          </ng-template>
          <p>
            {{ getFirstWords(booking.element[0].description, 5) }}...
          </p>
          <ng-template pTemplate="footer">
            <p-button label="Voir"  routerLink="/elements/{{booking.elementId}}"  icon="pi pi-check"></p-button>
            <p-toast></p-toast>
            <p-confirmPopup></p-confirmPopup>
            <p-button label="Annuler" icon="pi pi-times" (click)="confirm($event,booking.id)" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
    <ng-template #elseBlock>
      <nz-result [nzIcon]="'smile-twotone'" [nzTitle]="'Vous n\'avez aucune réservation'">
        <div nz-result-extra>
          <button nz-button nzType="primary" (click)="goElements()">Voir les Logements</button>
        </div>
      </nz-result>
    </ng-template>

    <nz-divider></nz-divider>

    <!--debut Mes logements-->
    <div *ngIf="elements$ | async as elements"  class="container">
      <h2 style="text-align: center">Mes Logement</h2>
      <div  *ngIf="elements && elements.length > 0; else elseBlockHouse" class="row flex-wrap"  >
        <div   *ngFor="let element of elements; let i = index" class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <p-card header="{{element.name}}" subheader="{{element.exactLocate}}" [style]="{ width: '360px' }">
            <p-tag severity="success" value="En {{element.desired}}"></p-tag>
            <p-tag class="float-end"  severity="success" value="{{element.price}} GNF"></p-tag>
            <ng-template pTemplate="header">
              <p-tag icon="pi pi-user" value="Mon Logement N°{{i + 1}}"></p-tag>
              <p-tag severity="success" class="float-end"  value=" {{element.size}} m²"></p-tag>
              <p-message severity="success" text="{{element.name}}"></p-message>
              <p-message severity="warn" text="  {{element.city}}"></p-message>
            </ng-template>
            <p>
              {{ getFirstWords(element.description, 5) }}...
            </p>
            <ng-template pTemplate="footer">
              <p-button label="Voir" routerLink="/elements/{{element.id}}"  icon="pi pi-check"></p-button>
              <p-toast></p-toast>
              <p-confirmPopup></p-confirmPopup>
              <p-button label="Supprimer" icon="pi pi-times" (click)="confirmDeleteElement($event,element.id)" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
          </p-card>
        </div>
      </div>

      <ng-template #elseBlockHouse>
        <nz-result [nzIcon]="'smile-twotone'" [nzTitle]="'Vous n\'avez publier aucun logement'">
          <div nz-result-extra>
            <button nz-button nzType="primary" (click)="goAddHouse()">publier un logement</button>
          </div>
        </nz-result>
      </ng-template>
    </div>
</div>
