<div style="color: red">
  bonjour
  bonjour
  bonjour
  bonjour
  bonjour
  bonjour
  bonjour
  bonjour
  bonjour
</div>
<p *ngFor="let region of region$ | async">
<!--   hello {{ region}}-->
</p>
<div class="city-cards">
  <div class="city-card">
    <img src="https://via.assets.so/shoe.png?id=1&q=95&w=360&h=360&fit=fill" alt="Conakry">
    <h3>Conakry</h3>
    <p>120 logements disponibles</p>
  </div>
  <div class="city-card">
    <img src="https://via.assets.so/shoe.png?id=1&q=95&w=360&h=360&fit=fill" alt="Labe">
    <h3>Labe</h3>
    <p>50 logements disponibles</p>
  </div>
  <div class="city-card">
    <img src="https://via.assets.so/shoe.png?id=1&q=95&w=360&h=360&fit=fill" alt="Kankan">
    <h3>Kankan</h3>
    <p>80 logements disponibles</p>
  </div>
  <div class="city-card">
    <img src="https://via.assets.so/shoe.png?id=1&q=95&w=360&h=360&fit=fill" alt="Nzérékoré">
    <h3>Nzérékoré</h3>
    <p>60 logements disponibles</p>
  </div>
</div>




