<app-filtre></app-filtre>
<div class="container">
  <div class="city-cards">

      <div class="city-card" *ngFor="let categoryItem of category$ | async">
        <a [routerLink]="'elements/list/' + categoryItem.id" class="card-link">
          <img [src]="categoryItem.imageUrl" alt="{{ categoryItem.name }}">
          <div class="titre-icon-region">
            <p>
              <mat-icon>location_city</mat-icon> <span class="name">{{ categoryItem.name }}</span>
            </p>
            <p>
              <mat-icon>people</mat-icon> <span class="name">≈ {{ categoryItem.info }} habitants</span>
            </p>
          </div>
          <p class="icon-text">
            <mat-icon>hotel</mat-icon> {{ categoryItem.nombreElement }} logements
          </p>
        </a>
      </div>


  </div>
</div>






