
nz-carousel-content {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;

}

h3{
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}

//
ng-template  nz-carousel {
  height: 300px !important;
  padding:0;
  background-color: #007bff;
}

.slider {
  width: 50%;
}
.slider-container {
  margin-bottom: 16px;
}
.grid-config {
  height: 120px;
  font-size: 14px;
  line-height: 120px;
  background: #0092ff;
  border-radius: 4px;
}

.container__element{
  display:flex;
  flex-direction: column;
  height: 100%;
  .container-element__item{
    height: 100%;
    //background-color: #0d0115;
  }
}

//



mat-card{
  margin-bottom: 20px;
}

mat-card-subtitle{
  display: flex;

  .card-type{
    font-size: 19px;
    margin-right: 20px;
  }
  .stars {
    color: #ffd700;
    font-size: 24px;
    float: right;
  }
}
.green-icon{
  color: green;
}
.map-tile {
  width: 55%;
  background-color: red;

  google-map{
    height: 50px !important;
    width: 100%;
  }
}

c-carousel-item{
   height: 226px;
}

at-card-header{
  position: relative;
}
.card-status{
  position: absolute;
  right: 10px;
  top: 2px;
  color: blue;
}
.description{
  p{
    display: flex;
  }
  span{
    margin-left: 10px;
  }
  b{
    font-size: 15px;
    text-transform: uppercase;
  }
}
//c-carousel-inner{
//  width: 40%;
//  height: 100%;
//  margin-right: 5%;
//}
.container-img-maps {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}
.image-container {
  background-color: darkblue;
  width: 40%;
  margin-right: 5%;

  img{
   width: 100%;
    height: 100%;
    object-fit: fill;
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
    margin-bottom: 5%;
    img{
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}
.map-container {
  background-color: #237c3f;
  google-map{
    height: 100%;
  }
}

.mat-card {
  background-color: #da4a4a;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  .card-content {

    //display: flex;
    //flex-direction: row;
    //align-items: center;
    //justify-content: space-between;
    //width: 100%;
    //padding: 0 16px;

    .description {
      //display: flex;
      //flex-direction: column;
      //justify-content: center;
      //width: 60%;

      p {
        margin: 0;
        padding: 8px 0;
      }

      strong {
        font-weight: bold;
      }
    }
  }

  .img-info{
    background-color: red;
    display: flex;
    color: red;
  }

  img {
    //width: 40%;
    //border-radius: 4px;
  }

  .mat-card-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
}
