<nz-layout class="app-layout">

    <nz-header>
      <app-header></app-header>
    </nz-header>
    <nz-content  >
      <div class="container-fluid inner-content">
        <router-outlet></router-outlet>
        <div (click)="showModal(this.receiverAdminId)" id="chat-button" class="chat-button">
    <!--      <mat-icon> dialer_sip</mat-icon>-->
    <!--      <i class="pi pi-telegram" style="color: white"></i>-->
          <i class="pi pi-spin pi-telegram" style="font-size: 2rem"></i>
          <span>Service Client</span>
        </div>

      </div>
    </nz-content>
    <nz-footer>
      <app-footer></app-footer>
    </nz-footer>
    <div class="sub-footer">
      <div class="container">
        <p>&copy; 2023 MoNimba. Tous droits réservés. Version 1.2</p>
      </div>
    </div>
</nz-layout>

<!--//-->

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Dites-nous comment nous pouvons vous aider."
  (nzOnCancel)="handleCancel()"
  [nzOkLoading]="isOkLoading"
  [nzFooter]="footerTp"
>
  <p *nzModalContent>
    <app-send-form [receiverId]="Number(this.receiverAdminId)" ></app-send-form>
  </p>
</nz-modal>
<ng-template #footerTp>
  <button nz-button style="margin-right: 8px;" (click)="handleCancel()">Fermer</button>
</ng-template>


<!---->
<!--<nz-layout class="app-layout">-->
<!--  <nz-sider class="menu-sidebar"-->
<!--            nzCollapsible-->
<!--            nzWidth="256px"-->
<!--            nzBreakpoint="md"-->
<!--            [(nzCollapsed)]="isCollapsed"-->
<!--            [nzTrigger]="null">-->
<!--    <div class="sidebar-logo">-->
<!--      <a href="https://ng.ant.design/" target="_blank">-->
<!--        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">-->
<!--        <h1>MoNimba</h1>-->
<!--      </a>-->
<!--    </div>-->
<!--    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">-->
<!--      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">-->
<!--        <ul>-->
<!--          <li nz-menu-item nzMatchRouter>-->
<!--            <a routerLink="" >Accueil</a>-->
<!--          </li>-->
<!--          <li nz-menu-item nzMatchRouter>-->
<!--            <a routerLink="/elements">Logements</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li nz-submenu nzOpen nzTitle="Raccourcis" nzIcon="form">-->
<!--        <ul>-->
<!--          <li nz-menu-item nzMatchRouter>-->
<!--            <a routerLink="/elements/add">Soumettre un Logement</a>-->
<!--          </li>-->
<!--          <li nz-menu-item nzMatchRouter>-->
<!--            <a routerLink="/elements/add">Nous Contacter</a>-->
<!--          </li>-->
<!--          <li nz-menu-item nzMatchRouter>-->
<!--            <a routerLink="/elements/add">Réservations</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </nz-sider>-->
<!--  <nz-layout>-->
<!--    <nz-header>-->
<!--      <div class="app-header">-->
<!--        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">-->
<!--            <span class="trigger"-->
<!--               nz-icon-->
<!--               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"-->
<!--            ></span>-->
<!--        </span>-->
<!--        <span (click)="showLarge()" class="filtre_icon" nz-icon nzType="file-search" nzTheme="outline"></span>-->

<!--        <span class="search__bar">-->
<!--          <app-search-global></app-search-global>-->
<!--        </span>-->
<!--        <nz-drawer-->
<!--          [nzSize]="size"-->
<!--          [nzVisible]="visible"-->
<!--          nzPlacement="right"-->
<!--          [nzTitle]="title"-->
<!--          [nzExtra]="extra"-->
<!--          (nzOnClose)="close()"-->
<!--        >-->
<!--          <ng-container *nzDrawerContent>-->
<!--            <app-state-list></app-state-list>-->
<!--          </ng-container>-->
<!--        </nz-drawer>-->
<!--        <ng-template #extra>-->
<!--          <button nz-button nzType="primary" (click)="close()">OK</button>-->
<!--        </ng-template>-->
<!--        <span routerLink="/profils" class="user-icon" nz-icon nzType="user" nzTheme="outline"></span>-->
<!--       </div>-->
<!--    </nz-header>-->
<!--    <nz-content>-->
<!--      <div class="inner-content">-->
<!--        <router-outlet></router-outlet>-->
<!--      </div>-->
<!--    </nz-content>-->
<!--    <nz-footer>-->
<!--        <app-footer></app-footer>-->
<!--    </nz-footer>-->
<!--  </nz-layout>-->
<!--</nz-layout>-->


<!--version 2  a voir -->
<!--<nz-layout>-->
<!--  <nz-sider nzCollapsible nzWidth="200px">-->
<!--    <div class="logo"></div>-->
<!--    <ul nz-menu nzTheme="dark" nzMode="inline">-->
<!--      <li nz-menu-item>-->
<!--        <span nz-icon nzType="pie-chart"></span>-->
<!--        <span>Option 1</span>-->
<!--      </li>-->
<!--      <li nz-menu-item>-->
<!--        <span nz-icon nzType="desktop"></span>-->
<!--        <span>Option 2</span>-->
<!--      </li>-->
<!--      <li nz-submenu nzTitle="User" nzIcon="user">-->
<!--        <ul>-->
<!--          <li nz-menu-item>Tom</li>-->
<!--          <li nz-menu-item>Bill</li>-->
<!--          <li nz-menu-item>Alex</li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li nz-submenu nzTitle="Team" nzIcon="team">-->
<!--        <ul>-->
<!--          <li nz-menu-item>Team 1</li>-->
<!--          <li nz-menu-item>Team 2</li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li nz-menu-item>-->
<!--        <span nz-icon nzType="file"></span>-->
<!--        <span>File</span>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </nz-sider>-->
<!--  <nz-layout>-->
<!--    <nz-header></nz-header>-->
<!--    <nz-content>-->
<!--      <nz-breadcrumb>-->
<!--        <nz-breadcrumb-item>User</nz-breadcrumb-item>-->
<!--        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>-->
<!--      </nz-breadcrumb>-->
<!--      <div class="inner-content">Bill is a cat.</div>-->
<!--    </nz-content>-->
<!--    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>-->
<!--  </nz-layout>-->
<!--</nz-layout>-->
