<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>MoNimba</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="" >Accueil</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/elements">Logements</a>
          </li>
<!--          <li nz-menu-item nzMatchRouter>-->
<!--            <a routerLink="/reative">Filtre</a>-->
<!--          </li>-->
<!--          <li nz-menu-item nzMatchRouter>-->
<!--            <a routerLink="/welcome">Welcome</a>-->
<!--          </li>-->
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Raccourcis" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/elements/add">Soumettre un Logement</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/elements/add">Nous Contacter</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/elements/add">Réservations</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
        <span (click)="showLarge()" class="filtre_icon" nz-icon nzType="file-search" nzTheme="outline"></span>

        <span class="search__bar">
          <app-search-global></app-search-global>
        </span>

<!--        <button routerLink="/filtre" nz-button nzType="primary">-->
<!--          <span nz-icon nzType="search"></span>-->
<!--          Filtre-->
<!--        </button>-->
<!--        (736px)-->
        <nz-drawer
          [nzSize]="size"
          [nzVisible]="visible"
          nzPlacement="right"
          [nzTitle]="title"
          [nzExtra]="extra"
          (nzOnClose)="close()"
        >
          <ng-container *nzDrawerContent>
            <app-state-list></app-state-list>
          </ng-container>
        </nz-drawer>
        <ng-template #extra>
          <button nz-button nzType="primary" (click)="close()">OK</button>
        </ng-template>

<!--        <nz-list-item-meta-->
<!--          [nzTitle]="''"-->
<!--          routerLink="/profils"-->
<!--          nzAvatar="https://gw.alipayobjects.com/zos/rmsportal/BiazfanxmamNRoxxVxka.png"-->
<!--          nzDescription=""-->
<!--          class="user-icon"-->
<!--        >-->
<!--        </nz-list-item-meta>-->
        <span routerLink="/profils" class="user-icon" nz-icon nzType="user" nzTheme="outline"></span>
<!--        <span class="user-icon">-->

<!--        </span>-->

       </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
        <app-footer></app-footer>
    </nz-footer>
  </nz-layout>
</nz-layout>
