<nz-content>

<div class="container">
  <ng-container *ngIf="showPageHeader">
    <nz-page-header nzBackIcon="arrow-left" [nzGhost]="false"></nz-page-header>
  </ng-container>

  <div class="city-cards"  >
    <div class="city-card" (mouseenter)="showIcon = true" (mouseleave)="showIcon = false" *ngFor="let categoryItem of category$ | async">
      <a [routerLink]="'/elements/list/' + categoryItem.id" class="card-link">
        <nz-card style="width:100%;" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit]">
<!--          <i *ngIf="showIcon" class="pi pi-eye"></i>-->
          <nz-card-meta
            nzTitle="Dans la {{ categoryItem.name }}"
            nzDescription="{{ categoryItem.nombreElement }} logements"
            [nzAvatar]="avatarTemplate"
          ></nz-card-meta>
        </nz-card>
      </a>


      <ng-template #avatarTemplate>
        <nz-avatar [nzSrc]="api_url+categoryItem.imageUrl"></nz-avatar>
      </ng-template>
      <ng-template #coverTemplate>
        <img   [src]="api_url+categoryItem.imageUrl"  alt="{{ categoryItem.name }}"/>
      </ng-template>
      <ng-template #actionSetting>
        <p-tag severity="warning" icon="pi pi-eye" value="Voir"></p-tag>
      </ng-template>
      <ng-template #actionEdit>
                <p-tag icon="pi pi-list" value="{{ categoryItem.info }}"></p-tag>
<!--        <p-splitButton label="Small" styleClass="p-button-sm mr-2 mb-2" [model]="items" trigger="hover"></p-splitButton>-->
      </ng-template>
    </div>
  </div>
</div>
</nz-content>
